<div class="card">
    <img src="{{ product.image }}" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="card-title text-primary" style="font-weight: bold; font-size: 1rem">
            {{ product.price | number_format(0, ',', ' ') }} Fcfa
            {% if product.promo %}
            <div class="text-warning">En promo!</div>
            {% endif %}
        </div>
        <p class="text text-muted">{{ product.description }}</p>

        <div class="row col-md-12">
            <div class="col-md-6">
                <em class="text-muted text-primary text-italic">#{{ product.categories.name }}</em>
            </div>
            <div class="col-md-6">
                <a href="{{ path('cart_add',{'id': product.id}) }}" class="btn btn-primary float-right">
                    J'achette<i class="fa fa-cart-plus  mr-1"></i>

                </a>
            </div>

        </div>
    </div>
</div>